<mat-card appearance="outlined">
  <ngx-table-craft [data]="data" [configs]="configs">
    <div header-buttons>
      <button mat-button>Acción 1</button>
      <button mat-button>Acción 2</button>
    </div>
    <div body-buttons class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 p-2">
        <label for="name" class="form-label">Buscar</label>
        <input
          class="form-control"
          matInput
          placeholder="...."
          #input
        />
      </div>  
      <div class="col-lg-3 col-md-3 col-sm-12 p-2">
        <label for="name" class="form-label">Buscar</label>
        <input
          class="form-control"
          matInput
          placeholder="...."
          #input
        />
      </div>  
    </div>
  </ngx-table-craft>
</mat-card>
